body{
background:#949490 url(C:\html.css\ana.bell-site\index.html\estilo.css\fundo.png);
 font: 16px arial,helvetica, sans-serif;
 font-size: 19px;

    }
#principal{
width: 900px;
 }

 #menu{
    background: #c5c5c1;
    padding: 18px;
padding-bottom: 10px;
}

#conteudo{
    background: #f0f0ec;
    padding: 10px;
}

{
   color: #4b556a;
   text-decoration: none; 
   font-weight: bolder;   
   padding: 5px;
}
.img-campanha{
border: 5px solid #808080;

}


.centralizar
{
text-align: center;
font-weight: bolder;
}
#titulo{
color: #8b8b88;
font: 12 em;

}